@import "../../../../app/globals.css";

.app_footer {
  background: var(--text-color);
  min-height: 358px;
  /* margin-top: 80px; */
  padding-top: calc(60px + 20px);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .app_footer {
    padding-top: 40px !important;
  }
}

.app_footer__union {
  position: absolute;
  top: -100px;
  width: 100%;
}

.app_footer__content {
  display: inline-flex;
  align-items: flex-start;
  gap: 82px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .app_footer__content {
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .app_footer__content {
    flex-direction: column;
    gap: 42px;
    margin-bottom: 20px;
  }
}
.app_footer__content2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 82px;
  justify-content: space-between;
  margin-right: 300px;
}

@media (max-width: 1200px) {
  .app_footer__content2 {
    gap: 60px;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .app_footer__content2 {
    flex-direction: column;
    gap: 42px;
    margin-bottom: 20px;
  }
}

.app_footer__content__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fefefe;
  font-size: 14px;
}

.app_footer__content__item:first-child {
  max-width: 267px;
}

.app_footer__content__item:last-child {
  max-width: 364px;
}

.app_footer__content__item__text p {
  line-height: 200%;
}

.app_footer__content__item h5 {
  margin-bottom: 3px !important;
}

.app_footer__content__item__subscribe {
  border-radius: 45.595px;
  border: 2px solid #f1f1f1;
  background: #fff;
  display: flex;
  gap: 5px;
  padding: 7px 18px;
}

.app_footer__content__item__subscribe__input {
  flex: 1;
  color: #333;
}

.app_footer__content__item__subscribe__input::placeholder {
  color: #959595;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app_footer__content__item__subscribe__button {
  all: unset;
  cursor: pointer;
  border-radius: 50px;
  background: #06382e;
  box-shadow: 0px 10px 50px 0px rgba(171, 171, 171, 0.19);
  padding: 15px 30px;
}

.app_footer__btm {
  border-top: 1px solid #fff;
  color: #fefefe;
  font-size: 14px;
  padding-bottom: 0;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .app_footer__btm {
    flex-direction: column;
    gap: 8px;
    padding: 16px 80px;
    border-top: none;
  }

  .app_footer__btm__socials{
    border-top: 1px solid #08846B;
    padding-top: 20px;
  }
}

.app_footer__btm__socials {
  display: flex;
  gap: 20px;
}

.app_landing_page__footer__px {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 992px) {
  .app_landing_page__footer__px {
    padding-left: 0;
    padding-right: 0;
  }

  .app_landing_page__social__px{
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 992px) {
    .app_landing_page__social__px {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  @media (max-width: 768px) {
    .app_landing_page__social__px {
      padding-left: 32px;
      padding-right: 32px;
    }

    .app_footer__btm {
      padding: 16px 32px;
    }
  }
  
  @media (max-width: 480px) {
    .app_landing_page__social__px {
      padding-left: 16px;
      padding-right: 16px;
    }

    .app_footer__btm {
      padding: 16px 16px;
    }
  }
}
