@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #06382e;
  --sec-color: #dd9940;
  --text-color: #052a23;
  --sub-text-color: #979797;
  --sec-text-color: #555555;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06382e;
    --foreground: #ededed;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
  color: rgb(var(--text-color));
  background: #f9f8f7;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.main-color {
  color: var(--main-color) !important;
}

.bg-main-color {
  background-color: var(--main-color) !important;
}

.sec-color {
  color: var(--sec-color) !important;
}

.bg-sec-color {
  background-color: var(--sec-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.bg-text-color {
  background-color: var(--text-color) !important;
}

.sub-text-color {
  color: var(--sub-text-color) !important;
}

.bg-sub-text-color {
  background-color: var(--sub-text-color) !important;
}

.center {
  @apply flex justify-center items-center;
}

.card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.app_card__location {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.card_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}
.app_claim_btn {
  border-radius: 10px;
  display: flex;
  gap: 8px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}
.app_claim_btn_icon {
  margin-top: auto;
  margin-bottom: auto;
  @apply animate-rotate45;
}
.app_claim_btn_text {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 16px;
}

.app_card_desc {
  font-size: 15px;
  font-weight: 300;
  color: #808080;
}
.app_card_desc_text {
  font-size: 15px;
  font-weight: 500;
}

.backwrap {
  border: none;
  background-color: transparent;
  height: 44px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.title {
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.app_landing_page {
  background-color: #f3f9f9;
  min-height: 100%;
  /* padding-top: 10px; */
}

.app_landing_page__px {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 768px) {
  .app_landing_page__px {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 480px) {
  .app_landing_page__px {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* styles.css */
.autosuggest-wrapper {
  position: relative;
  width: 100%; /* Ensures it matches the input width */
}

.autosuggest__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  position: relative;
}

.autosuggest__input:focus {
  border-color: #007bff;
}

.autosuggest__suggestions-container {
  position: absolute;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}

.autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.autosuggest__suggestion--highlighted {
  background-color: #007bff;
  color: #fff;
}

.custom-dots li button:before {
  font-size: 10px !important; /* Increase dot size */
  opacity: 0.25 !important;
  color: white !important;
  transform: scale(1.5);
}

/* Reduce dot spacing */
.custom-dots li {
  margin-right: 2px !important; /* Reduce gap between dots */
}

.slick-dots {
  @apply absolute md:!bottom-10 !-bottom-[20px] w-full p-0 m-0 list-none text-center flex justify-center gap-2;
}

.slick-dots li {
  @apply inline-block;
}

/* Custom Dot Styling */
.slick-dots li button {
  @apply w-4 h-4 md:w-5 md:h-5 bg-gray-500 rounded-full border-none transition-all duration-300 ease-in-out;
}

/* Active Dot */
.slick-dots li.slick-active button {
  width: 14px !important;
  height: 14px !important;
  transform: scale(1); 
  background-color: white;
  margin-top: 0px;
}

.slick-dots li.slick-active button:before {
  font-size: 10px !important;
  width: 14px !important;
  height: 14px !important;
  content: "";
  transform: scale(1); 
  background-color: transparent;
  display: hidden !important;
}

/* Hide default slick-dot character */
.slick-dots li button:before {
  content: "";
}

/* Hide prev/next buttons until hover */
.slick-prev,
.slick-next {
  @apply opacity-0 transition-opacity duration-300 ease-in-out;
}

/* Ensure prev button is visible */
.slick-prev {
  @apply !left-2 z-10 text-white;
}

.slick-next {
  @apply !right-2 z-10 text-white;
}

/* Show both prev/next buttons on hover */
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  @apply opacity-100;
}
