@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #06382e;
  --sec-color: #dd9940;
  --text-color: #333;
  --sub-text-color: #8b8787;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06382e;
    --foreground: #ededed;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(var(--text-color));
  background: #f3f9f9;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.main-color {
  color: var(--main-color) !important;
}

.bg-main-color {
  background-color: var(--main-color) !important;
}

.sec-color {
  color: var(--sec-color) !important;
}

.bg-sec-color {
  background-color: var(--sec-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.bg-text-color {
  background-color: var(--text-color) !important;
}

.sub-text-color {
  color: var(--sub-text-color) !important;
}

.bg-sub-text-color {
  background-color: var(--sub-text-color) !important;
}

.card {
  @apply shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-lg cursor-pointer;
}

.card img {
  @apply w-full h-48 object-cover min-h-48;
}

.card h3 {
  @apply text-lg font-semibold text-green-90 px-4 mt-5;
}

.card p {
  @apply text-sm text-sub_text_color px-4 mb-1;
}

.card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.backwrap {
  border: none;
  background-color: transparent;
  height: 44px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.title {
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.app_footer {
  background: var(--text-color);
  min-height: 430px;
  margin-top: 80px;
  padding-top: calc(60px + 80px);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app_footer__union {
  position: absolute;
  top: -100px;
  width: 100%;
}

.app_footer__contact_us {
  width: 100%;
  margin-top: -300px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.app_footer__contact_us__con {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px -2px 12px 1px rgba(19, 15, 38, 0.06);
  min-height: 185px;
  padding: 50px 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .app_footer__contact_us__con {
    padding: 40px 84px;
  }
}

@media (max-width: 992px) {
  .app_footer__contact_us__con {
    flex-direction: column;
    gap: 30px;
    padding: 40px;
  }
}

.app_footer__contact_us__con__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media (max-width: 992px) {
  .app_footer__contact_us__con__info {
    gap: 16px;
  }
}

.app_footer__contact_us__con__info__item {
  display: flex;
  gap: 22px;
}

.app_footer__content {
  display: inline-flex;
  align-items: flex-start;
  gap: 102px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .app_footer__content {
    gap: 82px;
  }
}

@media (max-width: 992px) {
  .app_footer__content {
    flex-direction: column;
    gap: 42px;
    margin-bottom: 20px;
  }
}

.app_footer__content__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fefefe;
  font-size: 14px;
}

.app_footer__content__item:first-child {
  max-width: 267px;
}

.app_footer__content__item:last-child {
  max-width: 364px;
}

.app_footer__content__item__text p {
  line-height: 200%;
}

.app_footer__content__item h5 {
  margin-bottom: 3px !important;
}

.app_footer__content__item__subscribe {
  border-radius: 45.595px;
  border: 2px solid #f1f1f1;
  background: #fff;
  display: flex;
  gap: 5px;
  padding: 7px 18px;
}

.app_footer__content__item__subscribe__input {
  flex: 1;
  color: #333;
}

.app_footer__content__item__subscribe__input::placeholder {
  color: #959595;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app_footer__content__item__subscribe__button {
  all: unset;
  cursor: pointer;
  border-radius: 50px;
  background: #06382e;
  box-shadow: 0px 10px 50px 0px rgba(171, 171, 171, 0.19);
  padding: 15px 30px;
}

.app_footer__btm {
  border-top: 0.5px solid #fff;
  color: #fefefe;
  font-size: 14px;
  padding: 16px 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .app_footer__btm {
    flex-direction: column;
    gap: 8px;
    padding: 16px 0;
  }
}

.app_footer__btm__socials {
  display: flex;
  gap: 10px;
}

.app_landing_page {
  background-color: #f3f9f9;
  min-height: 100%;
  /* padding-top: 10px; */
}

.app_landing_page__px {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .app_landing_page__px {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 480px) {
  .app_landing_page__px {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* styles.css */
.autosuggest-wrapper {
  position: relative;
  width: 100%; /* Ensures it matches the input width */
}

.autosuggest__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  position: relative;
}

.autosuggest__input:focus {
  border-color: #007bff;
}

.autosuggest__suggestions-container {
  position: absolute;
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 max-height: 300px;
 overflow-y: auto;
}

.autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.autosuggest__suggestion--highlighted {
  background-color: #007bff;
  color: #fff;
}


.slick-dots {
  @apply absolute md:!-bottom-[45px] !-bottom-[35px] block w-full p-0 m-0 list-none text-center
}
.custom-dot {
  @apply md:w-[25px] w-4 md:h-[25px] h-4 bg-[#ccc] rounded-full md:border-[5px] border-[3px] border-[#ccc] transition-colors duration-300

}

.slick-active .custom-dot {
  @apply md:border-[5px] border-[3px] border-[#CC1717]
}
/* .slick-track {
  @apply md:!h-[200px] lg:!h-[300px];
} */

.slick-track {
  /* display: flex !important; */
  /* gap: 10px !important; */
  /* @apply md:!flex md:!gap-[10px] */
}

/* .slick-slide > *div {
  @apply !h-full object-cover;
} */

.slick-prev,
.slick-next {
  @apply z-20 border border-gray-600;
}

/* .slick-prev:before {
  content: '<' !important;
  font-weight: 900;
} */
/* .slick-arrow{
  @apply !hidden
} */

.slick-prev {
  @apply !left-2 border border-red-800;
}

.slick-next {
  @apply !right-2 border border-red-800;
}

/* .slick-list {
  border-radius: 10px !important;
} */