@import "../../../../app/globals.css";

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(20px + 10px);
  padding-bottom: 20px;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.app__header--show_mobile_menu {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

@media (min-width: 1024px) {
  .app__header--show_mobile_menu {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
}

.app__header__logo--light {
  display: none;
}

.app__header--light {
  background-color: rgba(0, 0, 0, 0.5);
}

.app__header--light.app__header--show_mobile_menu {
  background-color: rgba(0, 0, 0, 0.7);
}

.app__header--light .app__header__logo {
  display: none;
}

.app__header--light .app__header__logo--light {
  display: block;
}

.app__header--light .app__header__ul__li__a {
  color: #fff;
}

.app__header--light svg.hamburger path {
  fill: #fff;
}

.app__header__mobile_menu_content {
  display: none;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .app__header__mobile_menu_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app__header__mobile_menu_content .app__header__ul {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
  }

  .app__header__mobile_menu_content .app_hero_section__content__txt__action {
    margin-top: 65px;
  }

  .app__header__mobile_menu_content__footer {
    border-top: 1px solid #8b8787;
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.app__header__logo {
  max-width: 147px;
  height: auto;
}

@media (min-width: 1024px) {
  .app__header__logo {
    max-width: 124px;
  }
}

.app__header__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* display: flex; */
  align-items: center;
  gap: 40px;
}

.app__header__ul__li__a {
  color: #283F16;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.app__header__ul__li__a:hover {
  color: var(--sub-text-color);
}
