@import "../../../../app/globals.css";

.app_footer {
  background: var(--text-color);
  min-height: 358px;
  /* margin-top: 80px; */
  padding-top: calc(60px + 20px);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.app_footer__contact_us {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.app_footer__contact_us__con {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px -2px 12px 1px rgba(19, 15, 38, 0.06);
  min-height: 185px;
  padding: 50px 77px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 181px;
}

@media (max-width: 1200px) {
  .app_footer__contact_us__con {
    padding: 40px 44px;
  }
}

@media (max-width: 992px) {
  .app_footer__contact_us__con {
    flex-direction: column;
    gap: 30px;
    padding: 40px;
  }
}

.app_footer__contact_us__con__info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media (max-width: 992px) {
  .app_footer__contact_us__con__info {
    gap: 16px;
  }
}

.app_footer__contact_us__con__info__item {
  display: flex;
  gap: 22px;
}
